<body>
	<ul>
	<li> Item 1</li>
	<li> Item 2
		<ol>
		<li> Item 2.1
		<li> Item 2.2
		<li> Item 2.3</li>
		</ol>
	<li> Item
	3</li>
	<li> Item 4 and</br>
	5 together</li>
	<li> Item 6</li>
		<ul>
		<li> Item 6.1</li>
			<ul>
			<li> Item 6.1.1</li>
			</ul>
		</ul>
	<li> Item 7
	</ul>
	<ol>
	<li> More
	<li> Lists</li>
		<ul>
		<li> Just to test</li>
		<li> If I can
			<ol>
			<li> Because I can
				<ol>
				<li> And that's cool
				<li> Okay?</li>
					<ul>
						<ul>
						<li> Yeah</li>
						</ul>
					</ul>
				</ol>
			</ol>
		</ul>
	<li> What?
	</ol>
</body>